<div class="form-header">
  <h2>Assign Jobs</h2>
</div>
<div class="container form-body">
  <form class="form-horizontal">
     <div class="form-group row w-50">
        <div class="col">
           <label for="randomString">Type Random Text</label>
           <input list="randomStrings" class="form-control input-field" id="randomString" (keyup)="getRandomString($event.target.value)">
           <datalist id="randomStrings">
              <option *ngFor="let item of _matchedStrings" [value]="item">{{item}}</option>
           </datalist>
        </div>
     </div>
     <div class="form-group row w-50">
        <div class="col-6">
           <label for="firstDD">First DropDown (select one):</label>
           <select class="form-control input-field" id="firstDD" (change)="fillSecondDDL($event.target.value);">
              <option value="0"> Select One </option>
              <option *ngFor="let value of _firstDD" 
              [value]="value.Id"> 
              {{value.Name}} 
              </option> 
           </select>
        </div>
     </div>
     <div class="form-group row w-50">
        <div class="col-6">
           <label for="SecondDD">Second DropDown (select one):</label>
           <select class="form-control input-field" id="SecondDD" (change)="fillThirdDDL($event.target.value);" [disabled]="selFirstDDId =='0'" [value]="selSecondDDId">
           <option value="0"> Select One </option>
           <option *ngFor="let value of _secondDD"
           [value]="value.Id">
           {{value.Name}} 
           </option> 
           </select>
        </div>
     </div>
     <div class="form-group row w-50">
        <div class="col-6">
           <label for="thirdDD">Third DropDown (select one):</label>
           <select class="form-control input-field" id="thirdDD" (change)="onChangeThirdDDL($event.target.value);" [disabled]="selSecondDDId =='0'" [value]="selThirdDDId">
           <option value="0"> Select One </option>
           <option *ngFor="let value of _thirdDD"
           [value]="value.Id">
           {{value.Name}} 
           </option> 
           </select>
        </div>
     </div>
     <div class="form-group row w-50">
        <div class="col-6">
           <button class="btn btn-default pull-right btn-submit" [disabled]="disableButton">Submit</button>
        </div>
     </div>
  </form>
</div>